  <!DOCTYPE html>
  <html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{include/layout}">

  <div layout:fragment="content">
    <div class="admin-content">
      <div class="main_title">
        <h1>천재교육 IT</h1>
      </div>
      <div class="user_img_box"><img th:src="@{/images/Character.png}" alt="" class="user_img"></div>
      <div class="user_main">
        <div class="user_group">
        <div class="user_title">
          <h2>나의 정보</h2>
        </div>
        <div class="user_tab">
          <div class="user_tab_title"><a th:href="@{/member/mypage}"><span class="user_tab_border">기본정보</span></a></div>
          <div class="user_tab_title"><a th:href="@{/member/mypage2}"><span >추가정보</span></a></div>
        </div>
        <div class="user_content">
          <div class="user_content_seperate">
            <div class="user_info_container">
              <div class="user_info_box">
                <label for="id">아이디</label>
                <input type="text" id="id" name="id" class="ro_input" th:value="${member.id }" readonly />
                <input type="hidden"  name="no" class="ro_input" th:value="${member.no }" readonly />
              </div>
<!--              <div class="user_info_box infopw">-->
<!--                <label>비밀번호</label>-->
<!--                <div class="myinfo_line">-->
<!--                  <a th:href="@{/pw}" class="btn_pwChange">비밀번호 변경</a>-->
<!--                </div>-->
<!--              </div>-->
              <div class="user_info_box infobirth">
                <label for="name">이름</label>
                <div class="myinfo_line">
                  <input type="text" name="name" id="name" class="ro_input" th:value="${member.name }"  readonly />
                </div>
              </div>
              <div class="user_info_box infobirth">
                <label for="birth">생일</label>
                <div class="myinfo_line">
                  <input type="text" name="birth" id="birth" class="ro_input" th:value="${member.birth }"  readonly />
                </div>
              </div>
              <div class="user_info_box">
                <label for="gender">성별</label>
                <div class="myinfo_line">
                  <input type="text" name="gender" id="gender" class="ro_input" th:value="${member.gender }"  readonly />
                </div>
              </div>
              <div class="user_info_box infoemail">
                <label for="email">이메일</label>
                <div class="myinfo_line">
                  <input type="text" name="email" id="email" th:value="${member.email }"  />
                </div>
              </div>
              <div class="user_info_box infotel">
                <label for="phone">연락처</label>
                <div class="myinfo_line">
                  <input type="text" name="phone" id="phone" th:value="${member.phone }"  />
                </div>
              </div>
              <div class="user_info_box">
                <label for="phone">주소</label>
                <input type="text" name="addr1" id="addr1" th:value="${member.addr1 }"  />
              </div>
              <div class="user_info_box">
                <input type="text" name="addr2" id="addr2" th:value="${member.addr2 }"  />
              </div>
              <div class="user_info_box">
                <input type="text" name="postcode" id="postcode" th:value="${member.postcode }" class="postcodeBtn">
                <button type="button" id="post_btn" onclick="findAddr()" class="btn_myInfo">우편번호 검색</button>
              </div>
            </div>
          </div>
          <div class="myinfo_btn_group">
            <button type="submit" class="btn_myInfo">회원정보수정</button>
            <a th:href="@{/static}" class="btn_myInfo_out">회원탈퇴</a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>



  <script>
    const email2_select = document.querySelector('#email2_select')
    const email2 = document.querySelector('#email2')
    email2_select.addEventListener('change', (event) => {
      if(event.target.value !== "self") {
        email2.value = event.target.value
        email2.disabled = true
      } else {
        email2.value = ""
        email2.disabled = false
      }
    })
  </script>
  <script>
    function modify(f){
      let phoneval =  $("#phone1").val() + $("#phone2").val() + $("#phone3").val()
      $("#phone").val(phoneval)

      let emailval =  $("#email1").val() +'@'+ $("#email2").val()
      $("#email").val(emailval)

      let birthval =  $("#birth1").val() +'년'+ $("#birth2").val() +'월'+ $("#birth3").val() +'일'
      $("#birth").val(birthval)

      if(f.pw.value!=f.pw2.value){
        alert("비밀번호와 비밀번호 확인이 서로 다릅니다.");
        f.pw.focus();
        return false;
      }
      if(f.pw.value.length(8-16)){
        alert("비밀번호는 최소 8자리에서 최대 16자리까지 숫자, 영문, 특수문자 각 1개 이상 포함해주세요.");
        f.pw.focus();
        return false;
      }

      let value = $("#pw").val();

      let pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&.,])[A-Za-z\d$@$!%*#?&]{8,16}$"
      if (!pattern.test(value)) {
        alert("숫자, 영문, 특수문자 각 1개 이상 포함입니다.");
        $("#pw").focus();
        return false;
      }
    }
  </script>
  <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script>
    function findAddr(){
      new daum.Postcode({
        oncomplete:function(data){
          var roadAddr = data.roadAddress;
          var jibunAddr = data.jibunAddress;
          var bname = data.bname;
          document.getElementById("postcode").value = data.zonecode;
          if(roadAddr !== ''){
            document.getElementById("addr1").value = roadAddr;
          } else if(jibunAddr !== ''){
            document.getElementById("addr1").value = jibunAddr;
          }
          document.getElementById("addr3").value = bname;
          document.getElementById("addr2").focus();
        }
      }).open();
    }
  </script>
