  <!DOCTYPE html>
  <html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{include/layout}">

  <div layout:fragment="content">
    <div class="admin-content">
      <div class="user_img_box"><img th:src="@{/images/Character.png}" alt="" class="user_img"></div>
      <div class="user_main">
        <div class="user_group">
        <div class="user_title">
          <h2>나의 정보</h2>
        </div>
        <div class="user_tab">
          <div class="user_tab_title"><a th:href="@{/member/mypage}"><span class="user_tab_border">기본정보</span></a></div>
          <div class="user_tab_title"><a th:href="@{/member/mypage2}"><span >추가정보</span></a></div>
        </div>
          <form th:action="@{/member/member_edit}" method="post" onsubmit="return modify(this)">
        <div class="user_content">
          <div class="user_content_seperate">
            <div class="user_info_container">
              <div class="user_info_box">
                <label for="id">아이디</label>
                <input type="text" id="id" name="id" class="ro_input" th:value="${member.id }" readonly />
                <input type="hidden"  name="no" class="ro_input" th:value="${member.no }" readonly />
                <input type="hidden"  name="cno" class="ro_input" th:value="${member.course.no }" readonly />
                <input type="hidden"  name="status" class="ro_input" th:value="${member.status }" readonly />
                <input type="hidden"  name="role" class="ro_input" th:value="${member.role }" readonly />
                <input type="hidden"  name="loginAt" class="ro_input" th:value="${member.loginAt }" readonly />
                <input type="hidden"  name="pw" class="ro_input" th:value="${member.pw }" readonly />
              </div>
<!--              <div class="user_info_box infopw">-->
<!--                <label>비밀번호</label>-->
<!--                <div class="myinfo_line">-->
<!--                  <a th:href="@{/pw}" class="btn_pwChange">비밀번호 변경</a>-->
<!--                </div>-->
<!--              </div>-->
              <div class="user_info_box infobirth">
                <label for="name">이름</label>
                <div class="myinfo_line">
                  <input type="text" name="name" id="name" class="ro_input" th:value="${member.name }"  readonly />
                </div>
              </div>
              <div class="user_info_box infobirth">
                <label for="birth">생일</label>
                <div class="myinfo_line">
                  <input type="date" name="birth" id="birth" min="1960-01-01" max="2040-12-31" class="ro_input" th:value="${member.birth }" readonly/>
                </div>
              </div>
              <div class="user_info_box infotel">
                <label for="phone">연락처</label>
                <div class="myinfo_line">
                  <input type="number" name="phone" id="phone" class="ro_input" th:value="${member.phone }"  />
                </div>
              </div>
              <div class="user_info_box">
                <label for="gender">성별</label>
                <div class="myinfo_line">
                  <input type="text" name="gender" id="gender" class="ro_input" th:value="${member.gender }"  readonly />
                </div>
              </div>
              <div class="user_info_box infoemail">
                <label for="email">이메일</label>
                <div class="myinfo_line">
                  <input type="text" name="email" id="email" th:value="${member.email }" onchange="emailCheck(this)" required/>
                  <input type="hidden" name="emailChk" id="emailChk" value="yes" />
                </div>
              </div>
              <div class="user_info_box">
                <label for="phone">주소</label>
                <input type="text" name="addr1" id="addr1" th:value="${member.addr1 }" required />
              </div>
              <div class="user_info_box flex">
                <input type="text" name="postcode" id="postcode" th:value="${member.postcode }" class="postcodeBtn" required />
                <button type="button" id="post_btn" onclick="findAddr()" class="join_btn">우편번호 검색</button>
              </div>
            </div>
          </div>
          <div class="btn_group_center">
            <button type="submit" class="board_btn select_btn">회원정보수정</button>
          </div>
        </div>
        </form>
      </div>
      </div>
    </div>
  <script>
    let emailChk = document.querySelector("#emailChk");


    function emailCheck(obj){
      email_pattern = /^[0-9a-zA-Z]+@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])+(\.com)$/;
      email_pattern2 = /^[0-9a-zA-Z]+@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])+(\.co\.kr)$/;
      if(email_pattern.test(obj.value) == false && email_pattern2.test(obj.value) == false){
        alert("이메일 주소가 맞지않습니다.")
        emailChk.value = 'no';
        obj.focus();
        return false;
      } else {
        emailChk.value = 'yes';
        return true;
      }
    }


    function modify(f){
      if(f.emailChk.value != "yes"){
        alert("이메일이 올바르지 않습니다.")
        f.email.focus();
        return false
      }

      if(f.addr1.value == "" || f.postcode.value ==""){
        alert("주소가 올바르지 않습니다.")
        f.addr1.focus();
        return false
      }

      alert("정보가 변경되었습니다.")
    }
  </script>
  <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
      function findAddr(){
        new daum.Postcode({
          oncomplete:function(data){
            var roadAddr = data.roadAddress;
            var jibunAddr = data.jibunAddress;
            var bname = data.bname;
            document.getElementById("postcode").value = data.zonecode;
            if(roadAddr !== ''){
              document.getElementById("addr1").value = roadAddr;
              // } else if(jibunAddr !== ''){
              //     document.getElementById("addr1").value = jibunAddr;
            }
            // document.getElementById("addr3").value = bname;
          }
        }).open();
      }
    </script>
</div>
