  <!DOCTYPE html>
  <html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{include/layout}">

  <div layout:fragment="content">
    <div class="admin-content">
      <div class="user_img_box"><img th:src="@{/images/Character.png}" alt="" class="user_img"></div>
      <div class="user_main">
        <div class="user_group">
        <div class="user_title">
          <h2>나의 정보</h2>
        </div>
        <div class="user_tab">
          <div class="user_tab_title"><a th:href="@{/member/mypage}"><span >기본정보</span></a></div>
          <div class="user_tab_title"><a th:href="@{/member/mypage2}"><span class="user_tab_border">추가정보</span></a></div>
        </div>
          <form th:action="@{/member/student_add}" method="post" onsubmit="return Job_check(this)">
            <div class="user_content">
              <div class="user_content_seperate">
                <div class="user_info_container">
                  <div class="user_info_box">
                    <label for="stack" >기술스택</label>
                    <input type="text" th:value="${studentDTO.stack}" id="stack" name="stack">
                    <input type="hidden" name="no" th:value="${studentDTO.no}">
                  </div>
                  <div class="user_info_box">
                    <label for="cert" >자격증</label>
                    <input type="text" th:value="${studentDTO.cert}" id="cert" name="cert">
                  </div>
                  <div class="user_info_box">
                    <label for="univ" >대학교</label>
                    <input type="text" th:value="${studentDTO.univ}" id="univ" name="univ">
                  </div>
                  <div class="user_info_box">
                    <label for="major" >학과</label>
                    <input type="text" th:value="${studentDTO.major}" id="major" name="major">
                  </div>
                  <div class="user_info_box">
                    <label for="hope" >희망 진로분야</label>
                    <input type="text" th:value="${studentDTO.hope}" id="hope" name="hope">
                  </div>
                  <div class="user_info_box">
                    <label for="job_program" >국취참여여부</label>
                    <div class="job_box">
                      <select id="job_program_select">
                        <option value="참여중" th:selected="${studentDTO.job_program} eq '참여중'">참여중</option>
                        <option value="기참여" th:selected="${studentDTO.job_program} eq '기참여'">기참여</option>
                        <option value="self" th:selected="${studentDTO.job_program} != '참여중' or '기참여'">미참여</option>
                      </select>
                      <input type="text" name="job_program" id="job_program" required />
                    </div>
                  </div>
                  <div class="user_info_box">
                    <label for="fund" >지원센터</label>
                    <input type="text" th:value="${studentDTO.fund}" id="fund" name="fund">
                  </div>
                  <div class="file_input">
                    <label for="picture" ><i class="fas fa-file"></i> 사진</label>
                    <th:block th:if="${studentDTO.picture == null}">
                      <input type="file" id="picture" name="picture" class="" value="파일 없음">
                    </th:block>
                    <th:block th:if="${studentDTO.picture != null}">
                      <a th:href="@{'/download/' + ${studentDTO.picture}}">
                        <i class="fas fa-window-maximize"></i>
                      </a>
                    </th:block>
<!--                    <input type="file" id="picture" name="picture" class="">-->
                  </div>
                  <div class="file_input">
                    <label for="portfolio" ><i class="fas fa-file"></i> 포트폴리오</label>
                    <th:block th:if="${studentDTO.portfolio == null}">
                      <input type="file" id="portfolio" name="portfolio" class="" value="파일 없음">
                    </th:block>
                    <th:block th:if="${studentDTO.portfolio != null}">
                      <a th:href="@{'/download/' + ${studentDTO.portfolio}}">
                        <i class="fas fa-window-maximize"></i>
                      </a>
                    </th:block>
<!--                    <input type="file" id="portfolio" name="portfolio" class="border_none">-->
                  </div>
                  <div class="file_input">
                    <label for="resume" ><i class="fas fa-file"></i> 이력서</label>
                    <th:block th:if="${studentDTO.resume == null}">
                      <input type="file" id="resume" name="resume" class="" value="파일 없음">
                    </th:block>
                    <th:block th:if="${studentDTO.resume != null}">
                      <a th:href="@{'/download/' + ${studentDTO.resume}}">
                        <i class="fas fa-window-maximize"></i>
                      </a>
                    </th:block>
<!--                    <input type="file" id="resume" name="resume" class="border_none">-->
                  </div>
                </div>
              </div>
              <div class="btn_group_center">
                <button type="submit" class="board_btn select_btn">정보 수정</button>
              </div>
            </div>
          </form>
      </div>
      </div>
    </div>
    <script>
      const job_program_select = document.querySelector('#job_program_select')
      const job_program = document.querySelector('#job_program')
      job_program_select.addEventListener('change', (event) => {
        if(event.target.value !== "self") {
          job_program.value = event.target.value
          job_program.disabled = true
        } else {
          job_program.value = "미참여 사유 : ";
          job_program.disabled = false
          job_program.focus()
        }
      })

    </script>
</div>
