<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{include/layout}">

<div layout:fragment="content">
  <div class="user_content">
    <div class="pw_title">
      <h2>본인확인</h2>
      <p>비밀번호를 입력해주세요<i class="far fa-smile"></i></p>
    </div>
    <div class="pw_box">
      <input type="password" name="pw" id="pw" required>
    </div>
    <div class="myinfo_btn_group">
      <button type="submit" class="btn_myInfo">입력</button>
    </div>
  </div>
</div>
