<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8" />
  <meta
          content="minimum-scale=1.0, width=device-width, maximum-scale=1, ser-scalable=no"
          name="viewport"

  />
  <title>천재IT교육센터</title>
  <th:block th:replace="~{include/head :: head}"></th:block>
</head>
<body>
<div class="container">
  <div class="studentEdit_box">
    <th:block th:if="${no == 1}">
      <h2>프로필 사진 수정</h2>
    </th:block>
    <th:block th:if="${no == 2}">
      <h2>포트폴리오 수정</h2>
    </th:block>
    <th:block th:if="${no == 3}">
      <h2>이력서 수정</h2>
    </th:block>
    <form th:action="@{/member/file_edit}" method="post" enctype="multipart/form-data">
      <div class=width100>
        <label class="form-label" for="fileChange">업로드 파일</label>
        <input type="file" name="fileChange" id="fileChange" onchange="imgUpload(this)"/>
        <input type="hidden" name="no" id="no" th:value="${no}" />
      </div>
      <div class="btn_group_center">
        <button type="submit" class="board_btn select_btn" >등록</button>
        <button type="button" onclick="javascript=window.close()" class="board_btn cancel_btn">닫기</button>
      </div>
    </form>
  </div>
</div>
<script>
  img_pattern = /^(.*?)\.(jpg|jpeg|png)$/;
  let no = document.getElementById("no");
  console.log("no---------------", no)
  function imgUpload(e){
    if(no.value == 1) {
      if (img_pattern.test(e.value) == false) {
        alert("해당 파일은 이미지 파일이 아닙니다.");
        e.value = "";
      }
    }
  }
</script>
</body>
</html>
