<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{include/layout}">

<div layout:fragment="content">
    <div class="admin-content">
        <div class="admin_box ">
            <h2>강의 리스트</h2>
            <table class="table_set">
                <thead>
                <tr>
                    <th style="width: 8%">과정</th>
                    <th style="width: 5%">기수</th>
                    <th style="width: 15%">시작일</th>
                    <th style="width: 15%">종료일</th>
                    <th style="width: 15%">80% 경과일자</th>
                    <th style="width: auto">대표강사</th>
                    <th style="width: auto">담당 매니저</th>
                    <th style="width: 18%">공개여부</th>
                    <th style="width: 8%"></th>
                </tr>
                </thead>
                <tbody>
                    <form th:action="@{/admin/course_edit}" method="post">
                        <tr class="board_box course_input">
                            <td th:if="${#strings.equals(courseDTO.subject, 'BIGDATA')}" class="board_box ">빅데이터</td>
                            <td th:if="${#strings.equals(courseDTO.subject, 'EXCEPTION')}" class="board_box ">예외</td>
                            <td th:if="${#strings.equals(courseDTO.subject, 'FULLSTACK')}" class="board_box ">풀스택</td>
                            <td th:if="${#strings.equals(courseDTO.subject, 'PM')}" class="board_box ">PM</td>
                            <input type="hidden" name="subject" th:value="${courseDTO.subject}" readonly/>
                            <input type="hidden" name="no" th:value="${courseDTO.no}" readonly/>
                            <td>
                                <input type="number" name="flag" th:value="${courseDTO.flag}" required/>
                            </td>
                            <td >
                                <div class="course_cal">
                                    <input type="date" name="start_date" id="start_date" min="1960-01-01" max="2040-12-31" required/>
                                </div>
                            </td>
                            <td >
                                <div class="course_cal">
                                    <input type="date" name="end_date" id="end_date" min="1960-01-01" max="2040-12-31" required/>
                                </div>
                            </td>
                            <td >
                                <div class="course_cal">
                                    <input type="date" name="train_time" id="train_time" min="1960-01-01" max="2040-12-31" disabled/>
                                </div>
                            </td>
                            <td >
                                <input type="text" name="instructor" th:value="${courseDTO.instructor}" required/>
                            </td>
                            <td >
                                <input type="text" name="manager" th:value="${courseDTO.manager}" required/>
                            </td>
                            <td>
                                <select name="delete_type" id="delete_type" class="select-box">
                                    <option value="y" th:selected="${courseDTO.delete_type} eq 'y'">공개</option>
                                    <option value="n" th:selected="${courseDTO.delete_type} eq 'n'">비공개</option>
                                </select>
                            </td>
                            <td>
                                <button type="submit" class="form_btn select_btn">수정하기</button>
                            </td>
                      </tr>
                    <tr class="board_box">
                        <td></td>
                        <td>기존</td>
                        <td th:text="${courseDTO.start_date}"></td>
                        <td th:text="${courseDTO.end_date}">
                        <td th:text="${courseDTO.train_time}">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </form>
                </tbody>
            </table>
            <div class="btn_group_right ">
                <a th:href="@{/admin/course}" class="board_btn cancel_btn">뒤로가기</a>
            </div>
        </div>
    </div>
    <script>
        let course_input = document.querySelector('.course_input')
        course_input.style.display = "table-row";
    </script>
    <script>
        // 시작일 변경 시 종료일 처리
        $("#start_date").change(() => {
            $("#end_date").prop("min", $("#start_date").val());
            // 종료일이 변경한 시작일보다 빠른 경우
            if($("#end_date").val() < $("#start_date").val()) {
                $("#end_date").val($("#start_date").val());
            }
        });
        // 종료일 변경 시 시작일 처리
        $("#end_date").change(() => {
            $("#start_date").prop("max", $("#end_date").val());
        })
    </script>
</div>
