<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{include/layout}">

<div layout:fragment="content">
    <div class="admin-content">
        <div class="admin_box ">
            <h2>강의 리스트</h2>
            <table class="table_set">
                <thead>
                <tr>
                    <th style="width: 8%">과정</th>
                    <th style="width: 5%">기수</th>
                    <th style="width: 15%">시작일</th>
                    <th style="width: 15%">종료일</th>
                    <th style="width: 15%">80% 경과일자</th>
                    <th style="width: auto">대표강사</th>
                    <th style="width: auto">담당 매니저</th>
                    <th style="width: 18%">공개여부</th>
                    <th style="width: 8%"></th>
                </tr>
                </thead>
                <tbody>
                    <tr class="course_add">
                        <td colspan="10"> <i class="far fa-plus-square"></i> 강의추가하기</td>
                    </tr>
                    <form th:action="@{/admin/coursePro}" method="post" >
                        <tr class="board_box course_input">
                        <td class="board_box ">
                            <select name="subject" >
                                <option value="BIGDATA"> 빅데이터 </option>
                                <option value="FULLSTACK"> 풀스택 </option>
                                <option value="PM"> PM </option>
                            </select>
                        </td>
                        <td class="board_box ">
                            <select name="flag" >
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                            </select>
                        </td>
                        <td >
                            <div class="course_cal">
                                <input type="date" name="start_date" id="start_date" min="1960-01-01" max="2040-12-31" onchange="TransDate()" required/>
                            </div>
                        </td>
                        <td >
                            <div class="course_cal">
                                <input type="date" name="end_date" id="end_date" min="1960-01-01" max="2040-12-31" onchange="EndDate()" required/>
                            </div>
                        </td>
                        <td >
                            <div class="course_cal">
                                <input type="date" name="train_time" id="train_time" min="1960-01-01" max="2040-12-31" required readonly/>
                            </div>
                        </td>
                        <td >
                            <input type="text" name="instructor" placeholder="강사이름" required/>
                        </td>
                        <td >
                            <input type="text" name="manager" placeholder="담당매니저" required/>
                            <input type="hidden" name="delete_type" value="n"/>
                        </td>
                        <td>
                            <button type="submit" class="form_btn select_btn">강의등록</button>
<!--                            <button type="button" class="form_button cancel_btn" onclick="asdf()">확인</button>-->
                        </td>
                        <td></td>
                      </tr>
                  </form>
                </tbody>
                <tbody>
                <tr th:each="course, about :${courseDTOList}">
                    <td th:if="${#strings.equals(course.subject, 'BIGDATA')}">빅데이터</td>
                    <td th:if="${#strings.equals(course.subject, 'EXCEPTION')}">예외</td>
                    <td th:if="${#strings.equals(course.subject, 'FULLSTACK')}">풀스택</td>
                    <td th:if="${#strings.equals(course.subject, 'PM')}">PM</td>
                    <td th:text="${course.flag} + ' 기'"></td>
                    <td th:text="${course.start_date}"></td>
                    <td th:text="${course.end_date}"></td>
                    <td th:text="${course.train_time}"></td>
                    <td th:text="${course.instructor}"></td>
                    <td th:text="${course.manager}"></td>
                    <td >
                        <form th:action="@{/admin/course_delete(no=${course.no})}" method="post" class="inline_form">
                            <select name="delete_type" id="delete_type" class="select-box">
                                <option value="y" th:selected="${course.delete_type} eq 'y'">공개</option>
                                <option value="n" th:selected="${course.delete_type} eq 'n'">비공개</option>
                            </select>
                            <button type="submit" class="inline_form_btn select_btn" >상태 변경<i class="fas fa-pencil-alt"></i></button>
                        </form>
                    </td>
                    <td>
                        <a th:href="@{/admin/course_edit(no=${course.getNo()})}" class="inline_form_btn edit_btn" >수정하기<i class="fas fa-pencil-alt"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        let start_date = document.querySelector('#start_date')
        let end_date = document.querySelector('#end_date')
        let train_time = document.querySelector('#train_time')

        function TransDate() {

            let endNum = new Date(start_date.value)
            let transNum = new Date(start_date.value)

            endNum.setDate(endNum.getDate()+180)
            transNum.setDate(transNum.getDate()+144)

            let yy = endNum.getFullYear();
            let mm = endNum.getMonth()+1;
            let dd = endNum.getDate();
            if( mm < 10){
                mm = '0'+ mm
            }
            if(dd < 10){
                dd = '0'+ dd
            }

            let yy2 = transNum.getFullYear();
            let mm2 = transNum.getMonth()+1;
            let dd2 = transNum.getDate();
            if( mm2 < 10){
                mm2 = '0'+ mm2
            }
            if(dd2 < 10){
                dd2 = '0'+ dd2
            }
            end_date.value = yy +'-'+ mm +'-'+ dd;
            train_time.value = yy2 +'-'+ mm2 +'-'+ dd2;
        }

        function EndDate() {
            let startNum = new Date(start_date.value)
            let endNum = new Date(end_date.value)
                if(startNum.getTime() > endNum.getTime()){
                    alert("시작날짜보다 전입니다.")
                    end_date.value = start_date.value
                }
        }
    </script>
    <script>
        let course_add = document.querySelector('.course_add')
        let course_input = document.querySelector('.course_input')
        course_add.addEventListener('click', function (){
            this.style.display = "none";
            course_input.style.display = "table-row";
        })
    </script>

</div>
