<!doctype html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org">
  <body>
    <th:block th:fragment="adminbar">
      <nav class="adminBar">
        <div class="adminBar_box">
          <ul class="adminBar_content">
            <li>
             <a class="nav_link " th:href="@{/}"><i class="fas fa-user-edit"></i>
             <p>회원</p>
             </a>
            </li>
            <li>
              <a class="nav_link " th:href="@{/}"><i class="fas fa-clipboard"></i>
                <p>게시판</p>
              </a>
            </li>
            <li>
              <a class="nav_link " th:href="@{/}"><i class="fas fa-sitemap"></i>
                <p>미정</p>
              </a>
            </li>
            <li>
              <a class="nav_link " th:href="@{/}"><i class="fas fa-paste"></i>
                <p>미정</p>
              </a>
            </li>
            <li>
              <a class="nav_link " th:href="@{/}"><i class="fas fa-book"></i>
                <p>미정</p>
              </a>
            </li>
            </ul>
          </div>
      </nav>
    </th:block>
  </body>
</html>
