<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
    <th:block th:fragment="footer">
      <footer class="ft" id="ft">
        <section class="container_side m2">
          <div class="ft_wrap">
            <div class="ft_wrap_text">
              <p class="copyright ">
                <span>(주)천재교육 &nbsp;|&nbsp; 대표: 강희철, 최정민</span>
              </p>
              <p class="copyright ">
                <span>사업자등록번호: 119-81-19350 &nbsp;|&nbsp; 서울특별시 디지털로 9길 23 마리오아울렛2관 11층 천재IT교육센터</span>
              </p>
              <p class="copyright">
                <span>접수 문의 · 사이트 이용 문의 : 02-3282-8589 &nbsp;|&nbsp;  이메일 : genia@chunjae.co.kr</span>
              </p>
              <br/>
              <p class="copyright">
                COPYRIGHT 2023 Chunjae EDUCATION INC. ALL RIGHTS RESERVED.
              </p>
            </div>
            <div class="cp_img_wrap">
              <a href="https://www.chunjae.co.kr/" class="cp_img"><img class="ft_logo" th:src="@{/images/footer/chunjaelogo.svg}" alt="천재교육 logo"></a>
              <a href="https://chunjaetext.co.kr/" class="cp_img"><img class="ft_logo" th:src="@{/images/footer/chunjaebooklogo.svg}" alt="천재교과서 logo"></a>
              <a href="https://www.moel.go.kr/" class="cp_img"><img class="ft_logo" th:src="@{/images/footer/hirecenter_logo.svg}" alt="고용노동부 logo"></a>
            </div>
          </div>
          <p class="ft_notice">이 상품에는 (주)여기어때컴퍼니가 제공한 여기어때 잘난체•잘난체 고딕이 적용되어 있습니다.</p>
        </section>
      </footer>
    </th:block>
  </body>
</html>
