<!doctype html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org">
  <body>
    <th:block th:fragment="header">
      <nav id="navbar" class="navbar">
        <div class="container">
          <div class="navbar_box">
            <div class="nav-content">
             <a class="nav_link " th:href="@{/}"><i class="fas fa-home"></i></a>
            </div>
            <div class="navbar-menu " id="navigation">
              <ul class="nav-wrap">
                <li class="nav-content">
                <a class="nav_link " th:href="@{/}"><i class="fas fa-window-maximize"></i></a>
                </li>
                <li class="nav-content">
                <a class="nav_link " th:href="@{/}"><i class="fas fa-bell"></i></a>
                </li>
                <li class="nav-content">
                <a class="nav_link " th:href="@{/}"><i class="fas fa-th"></i></a>
                </li>
                <th:block sec:authorize="isAnonymous()">
                <li class="nav-content">
                <a th:href="@{/member/login}" class="nav_link ">로그인</a>
                </li>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                <li class="nav-content">
                <a class="nav_link " th:href="@{/logout}">로그아웃</a>
                </li>
                </th:block>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </th:block>
  </body>
</html>
