<!doctype html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
  <div th:fragment="pagination(pageLink)" class="paging_btn">

      <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
          <th:block th:if="${nowPage > 5 && page%5 ==1}">
              <a  th:onclick="goToPage('[[${page-1}]]')" class="nextBtn">&laquo;</a>
          </th:block>
          <a th:if="${page != nowPage}" th:text="${page}" th:page="${page}" th:onclick="goToPage('[[${page}]]')" class="pageBtn"></a>
          <a th:if="${page == nowPage}" th:text="${page}" class="pageNowBtn"></a>
          <th:block th:if="${endPage < totalPage}">
              <a th:if="${endPage < totalPage && page%5 ==0 }" th:onclick="goToPage('[[${page+1}]]')" class="nextBtn">»</a>
          </th:block>
      </th:block>

      <script th:inline="javascript">
          function goToPage(page) {
              var keyword = /*[[${param.keyword} != null ? ${param.keyword} : '']]*/ '';
              var subject =  document.getElementById('subject').value;
              var flag =  document.getElementById('flag').value;
              var role =  document.getElementById('role').value;
              var pageLink = /*[[${pageLink}]]*/ '';
              var url = pageLink + '?page=' + page;
              if(keyword !== '') {
                  url += '&keyword=' + encodeURIComponent(keyword);
              }
              if(subject !== '') {
                  url += '&subject=' + encodeURIComponent(subject);
              }
              if(flag !== '') {
                  url += '&flag=' + encodeURIComponent(flag);
              }
              if(keyword !== '') {
                  role += '&role=' + encodeURIComponent(role);
              }
              window.location.href = url;
          }
      </script>
  </div>
</body>
</html>



