<!doctype html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

  <div th:fragment="pagination(pageLink)" class="paging_btn">

      <th:block th:each="page : ${#numbers.sequence(pageDTO.getPageStart(), pageDTO.getPageLast())}">
          <th:block th:if="${pageDTO.pageNow >= 5 && page%5 ==1}">
              <a th:onclick="goToPage('[[${page-2}]]')" class="nextBtn">&laquo;</a>
          </th:block>
          <a th:text="${page}" th:page="${page}" th:onclick="goToPage('[[${page-1}]]')" class="pageBtn"></a>
          <th:block th:if="${pageDTO.pageLast < pageDTO.pageTotal && page%5 ==0}">
              <a th:onclick="goToPage('[[${page}]]')" class="nextBtn">»</a>
          </th:block>
      </th:block>

      <script th:inline="javascript">
          function goToPage(page) {
              var keyword = /*[[${param.keyword} != null ? ${param.keyword} : '']]*/ '';
              var subject =  /*[[${param.subject} != null ? ${param.subject} : '']]*/ '';
              var flag =  /*[[${param.flag} != null ? ${param.flag} : '']]*/ '';
              var role = /*[[${param.role} != null ? ${param.role} : '']]*/ '';
              var pageLink = /*[[${pageLink}]]*/ '';
              pageLink += '?page=' + page
              ;
              if(keyword !== '') {
                  pageLink += '&keyword=' + encodeURIComponent(keyword);
              }
              if(subject !== '') {
                  pageLink += '&subject=' + encodeURIComponent(subject);
              }
              if(flag !== '') {
                  pageLink += '&flag=' + encodeURIComponent(flag);
              }
              if(role !== '') {
                  pageLink += '&role=' + encodeURIComponent(role);
              }
              window.location.href = pageLink;


          }
          window.onload = function() {
              var urlParams = new URLSearchParams(window.location.search);
              var pageValue = urlParams.get('page');
              var subjectValue = urlParams.get('subject');
              var flagValue = urlParams.get('flag');
              var roleValue = urlParams.get('role');
              var keywordValue = urlParams.get('keyword');

              console.log(subjectValue);
              console.log(flagValue);
              console.log(roleValue);
              console.log(keywordValue);
              function setSelectedOption(selectId, optionValue) {
                  var selectElement = document.getElementById(selectId);
                  var options = selectElement.options;

                  for (var i = 0; i < options.length; i++) {
                      if (options[i].value === optionValue) {
                          options[i].setAttribute('selected', 'selected');
                          return;
                      }
                  }
              }


              if (pageValue !== null && !isNaN(pageValue)) {
                  var page = parseInt(pageValue);
                  addActiveClass(page);
              } else {
                  addActiveClass(0);
              }
              if (subjectValue) {
                  setSelectedOption('subject', subjectValue);
              }
              if (flagValue) {
                  setSelectedOption('flag', flagValue);
              }
              if (roleValue) {
                  setSelectedOption('role', roleValue);
              }
              if(keywordValue) {
                  document.getElementById('keyword').setAttribute('value', keywordValue);
              }
          };

          function addActiveClass(page) {
              var pageButtons = document.querySelectorAll('.pageBtn');
              var nextPage = page + 1;

              for (var i = 0; i < pageButtons.length; i++) {
                  pageButtons[i].classList.remove('active');
                  if (parseInt(pageButtons[i].getAttribute('page')) === nextPage) {
                      pageButtons[i].classList.add('active');
                  }
              }
          }
      </script>
  </div>


  <div th:fragment="paginationNoti(pageLink)" class="paging_btn">

      <th:block th:each="page : ${#numbers.sequence(pageDTO.getPageStart(), pageDTO.getPageLast())}">
          <th:block th:if="${pageDTO.pageNow >= 5 && page%5 ==1}">
              <a th:onclick="goToPage('[[${page-2}]]')" class="nextBtn">&laquo;</a>
          </th:block>
          <a th:text="${page}" th:page="${page}" th:onclick="goToPage('[[${page-1}]]')" class="pageBtn"></a>
          <th:block th:if="${pageDTO.pageLast < pageDTO.pageTotal && page%5 ==0}">
              <a th:onclick="goToPage('[[${page}]]')" class="nextBtn">»</a>
          </th:block>
      </th:block>

      <script th:inline="javascript">
          function goToPage(page) {
              var keyword = /*[[${param.keyword} != null ? ${param.keyword} : '']]*/ '';
              var cno =  /*[[${param.cno} != null ? ${param.cno} : '']]*/ '';
              var pageLink = /*[[${pageLink}]]*/ '';
              pageLink += '?page=' + page
              ;
              if(keyword !== '') {
                  pageLink += '&keyword=' + encodeURIComponent(keyword);
              }
              if(cno !== '') {
                  pageLink += '&cno=' + encodeURIComponent(cno);
              }
              window.location.href = pageLink;


          }
          window.onload = function() {
              var urlParams = new URLSearchParams(window.location.search);
              var pageValue = urlParams.get('page');
              var cnoValue = urlParams.get('cno');
              var keywordValue = urlParams.get('keyword');

              function setSelectedOption(selectId, optionValue) {
                  var selectElement = document.getElementById(selectId);
                  var options = selectElement.options;

                  for (var i = 0; i < options.length; i++) {
                      if (options[i].value === optionValue) {
                          options[i].setAttribute('selected', 'selected');
                          return;
                      }
                  }
              }


              if (pageValue !== null && !isNaN(pageValue)) {
                  var page = parseInt(pageValue);
                  addActiveClass(page);
              } else {
                  addActiveClass(0);
              }
              if (cnoValue) {
                  setSelectedOption('cno', cnoValue);
              }
              if(keywordValue) {
                  document.getElementById('keywordTitle').setAttribute('value', keywordValue);
              }
          };

          function addActiveClass(page) {
              var pageButtons = document.querySelectorAll('.pageBtn');
              var nextPage = page + 1;

              for (var i = 0; i < pageButtons.length; i++) {
                  pageButtons[i].classList.remove('active');
                  if (parseInt(pageButtons[i].getAttribute('page')) === nextPage) {
                      pageButtons[i].classList.add('active');
                  }
              }
          }
      </script>
  </div>


  <div th:fragment="paginationClassNoti(pageLink)" class="paging_btn">

      <th:block th:each="page : ${#numbers.sequence(pageDTO.getPageStart(), pageDTO.getPageLast())}">
          <th:block th:if="${pageDTO.pageNow >= 5 && page%5 ==1}">
              <a th:onclick="goToPage('[[${page-2}]]')" class="nextBtn">&laquo;</a>
          </th:block>
          <a th:text="${page}" th:page="${page}" th:onclick="goToPage('[[${page-1}]]')" class="pageBtn"></a>
          <th:block th:if="${pageDTO.pageLast < pageDTO.pageTotal && page%5 ==0}">
              <a th:onclick="goToPage('[[${page}]]')" class="nextBtn">»</a>
          </th:block>
      </th:block>

      <script th:inline="javascript">
          function goToPage(page) {
              var keyword = /*[[${param.keyword} != null ? ${param.keyword} : '']]*/ '';
              var cno = /*[[${param.keyword} != null ? ${param.keyword} : '']]*/ '';
              var pageLink = /*[[${pageLink}]]*/ '';
              pageLink += '?cno=' +1 +'&page=' + page ;
              if(keyword !== '') {
                  pageLink += '&keyword=' + encodeURIComponent(keyword);
              }
              if(cno !== '') {
                  pageLink += '&cno=' + encodeURIComponent(cno);
              }
              window.location.href = pageLink;
          }
          window.onload = function() {
              var urlParams = new URLSearchParams(window.location.search);
              var pageValue = urlParams.get('page');
              var keywordValue = urlParams.get('keyword');


              if (pageValue !== null && !isNaN(pageValue)) {
                  var page = parseInt(pageValue);
                  addActiveClass(page);
              } else {
                  addActiveClass(0);
              }
              if(keywordValue) {
                  document.getElementById('keywordTitle2').setAttribute('value', keywordValue);
              }
          };

          function addActiveClass(page) {
              var pageButtons = document.querySelectorAll('.pageBtn');
              var nextPage = page + 1;

              for (var i = 0; i < pageButtons.length; i++) {
                  pageButtons[i].classList.remove('active');
                  if (parseInt(pageButtons[i].getAttribute('page')) === nextPage) {
                      pageButtons[i].classList.add('active');
                  }
              }
          }
      </script>
  </div>
</body>
</html>



