<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{include/layout}">

<div layout:fragment="content">
    <div class="admin-content">
        <div class="main user_index">
                <section class="user_info">
                    <article class="profile">
                        <div class="profile_img">
                            <th:block th:if="${student_picture != null}">
                                <img th:src="@{'/student/down/'+ ${student_picture}}" alt="프로필 사진">
                            </th:block>
                            <th:block th:if="${student_picture == null}">
                                <i class="fas fa-user-circle"></i>
                            </th:block>
                        </div>
                        <h1 th:text="${memberDTO.name}"></h1>
                        <h2 th:text="${courseName}"></h2>
                        <a th:href="@{/member/mypage}" class="btnView">개인정보 수정</a>
                    </article>
                    <ul class="contact">
                        <li>
                            <i class="fas fa-envelope "></i>
                            <span th:text="${memberDTO.email}"></span>
                        </li>
                    </ul>
                </section>
                <section class="main_notice">
                    <h1>  <a class="nav_link header_board" th:href="@{/notice/list}"> <span>NEW! </span>   공지사항 </a></h1>
                    <table class="main_table" >
                        <thead>
                            <tr>
<!--                                <th scope="col" class="num">#</th>-->
<!--                                <th scope="col" class="title">제목</th>-->
<!--                                <th scope="col" class="create_time">작성일</th>-->
<!--                                <th scope="col" class="writer">작성자</th>-->
<!--                                <th scope="col" >파일</th>-->
                                <th style="width: 10%">#</th>
                                <th style="width: 50%; overflow: hidden;">제목</th>
                                <th style="width: 20%">작성일</th>
                                <th style="width: 10%">작성자</th>
                                <th style="width: 10%">파일</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="notice, about :${newNoticeList}">
                                <!-- pinned가 1이면 필독 아니면 그냥 숫자 -->
                                <th scope="row" th:if="${notice.pinned == true}" ><p class="board_pin">필독</p></th>
                                <th scope="row" th:if="${notice.pinned != true}" th:text="${about.count - pinnedCount}"></th>
                                <!-- privated가 1이면 비밀글 아니면 공개글-->
                                <!-- privated가 1이면 비밀글 아니면 공개글-->
                                <td th:if="${notice.privated == true}">
                                    <th:block th:if="${#authorization.expression('hasAuthority(''ADMIN'')')} or ${#authorization.expression('hasAuthority(''MANAGER'')')} or ${memberDTO.id == notice.writer}">
                                        <a th:href="|@{/notice/read(id=${notice.id})}|" class="text-decoration-none"><i class="fas fa-lock">   </i>  [[${notice.title}]]</a>
                                    </th:block>
                                    <th:block th:if="${ not #authorization.expression('hasAuthority(''ADMIN'')')} and ${ not #authorization.expression('hasAuthority(''MANAGER'')')} and ${memberDTO.id != notice.writer}">
                                        <i class="fas fa-lock">   </i>  비밀글입니다
                                    </th:block>
                                </td>
                                <td th:if="${notice.privated != true}"><a th:href="|@{/notice/read(id=${notice.id})}|" class="text-decoration-none">[[${notice.title}]]</a></td>

                                <td th:text="${#temporals.format(notice.createdTime, 'yyyy-MM-dd HH:mm')}"></td>
                                <td th:text="${notice.writer}"></td>
                                <td class="fileDownload" >
                                    <th:block th:if="${fileCountMap[notice.id] gt 0}">
                                    <i class="fas fa-window-maximize" onclick="downloadFiles(this)" ></i>[[${fileCountMap[notice.id]}]]
                                    <input type="hidden" name="boardId" th:value="${notice.id}" >
                                    </th:block>
                                </td>
                                <script th:inline="javascript">
                                    function downloadFiles(element) {
                                        var fileDownload = element.parentNode;
                                        var boardIdValue = fileDownload.querySelector('input[name="boardId"]').value;

                                        console.log(boardIdValue);

                                        let data = JSON.stringify({"boardId": boardIdValue});
                                        $.ajax({
                                            url: "/notice/fileList",
                                            type: "post",
                                            contentType: "application/json",
                                            dataType: "json",
                                            data: data,
                                            success: function(result) {
                                                console.log("HI:"+result);
                                                handleFileList(result);
                                            },
                                            error: function(res) {
                                                alert(" 잠시 후 다시 시도해주세요.");
                                                console.log(res.responseText);
                                            }
                                        })
                                    }

                                    function handleFileList(result) {

                                        var iframe = $('<iframe>', { style: 'display: none' })[0];
                                        $('body').append(iframe);

                                        result.forEach(function(fileId, index) {
                                            setTimeout(function() {
                                                var downloadUrl = '/download/' + fileId;
                                                console.log("다운주소"+downloadUrl);

                                                var iframeDocument = iframe.contentDocument || iframe.contentWindow.document;
                                                var downloadLink = iframeDocument.createElement('a');
                                                downloadLink.href = downloadUrl;
                                                iframeDocument.body.appendChild(downloadLink);
                                                downloadLink.click();

                                                if (index === result.length) {
                                                    $(iframe).remove();
                                                }
                                            }, 100 * index);
                                        });
                                    }
                                </script>
                            </tr>
                        </tbody>
                    </table>
                </section>
        </div>
    </div>
</div>