<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{include/layout}">

<div layout:fragment="content">
    <div class="main user_index">
            <section class="user_info">
                <article class="profile">
                    <div class="profile_img"><i class="fas fa-user-circle"></i></div>
                    <h1 th:text="${memberDTO.name}"></h1>
                    <h2 th:text="${courseName}"></h2>
                    <a th:href="@{/member/mypage}" class="btnView">개인정보 수정</a>
                </article>
                <ul class="contact">
                    <li>
                        <i class="fas fa-envelope "></i>
                        <span th:text="${memberDTO.email}"></span>
                    </li>
                </ul>
            </section>
            <section class="main_notice">
                <h1><span>NEW!   </span>  공지사항</h1>
                <table class="main_table" >
                    <thead>
                    <tr>
                        <th scope="col" class="num">#</th>
                        <th scope="col" class="title">제목</th>
                        <th scope="col" class="create_time">작성일</th>
                        <th scope="col" class="writer">작성자</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="notice, about :${newNoticeList}">
                        <th scope="row" th:text="${about.count}"></th>
                        <td><a th:href="|@{/notice/read(id=${notice.id})}|" class="text-decoration-none">[[${notice.title}]]</a></td>
                        <td th:text="${#temporals.format(notice.createdTime, 'yyyy-MM-dd HH:mm')}"></td>
                        <td th:text="${notice.writer}"></td>
                    </tr>
                    </tbody>
                </table>
            </section>
    </div>
</div>