<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{include/layout}">

<div layout:fragment="content">
  <div class="admin-content">
  <div class="admin_box">
    <h2>관리자</h2>
    <div class="table_group">
      <div th:replace="~{include/search :: search('/admin/admin_member')}"></div>
      <table class="table_set">
        <thead>
        <tr>
          <th>이름</th>
          <th>가입날짜</th>
          <th>클래스</th>
          <th>권한</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:if="${#lists.isEmpty(memberList)}">
          <tr>
            <td colspan="4" class="board_td">
              <h4>현재 내용이 없습니다.</h4>
            </td>
          </tr>
        </th:block>
          <tr th:each="member, about :${memberList}">
            <td>
              <a th:href="@{/admin/member_read(no=${member.getNo() } )}">[[${member.name }]]  <i class='fas fa-sign-in-alt'></i> </a>
            </td>
            <td th:text="${#temporals.format(member.createdTime, 'yyyy-MM-dd')}"></td>
            <td>
              <form th:action="@{/admin/change_role(id=${member.id} )}" method="post" class="inline_form">
                <select name="role" class="select-box">
                  <option th:value="${member.course.no}" th:selected="${member.course.subject} != 'EXCEPTION'">[[${member.course.subject}]]</option>
                  <option value="1" th:selected="${member.course.subject} == 'EXCEPTION'">예외</option>
                </select>
                <button type="submit" class="inline_form_btn select_btn" >권한 변경 <i class="fas fa-pencil-alt"></i></button>
              </form>
            </td>
            <td>
              <form th:action="@{/admin/change_role(id=${member.id} )}" method="post" class="inline_form">
                <select name="role" class="select-box">
                  <option value="MANAGER" th:selected="${#strings.equals(member.role, 'MANAGER')}">매니저</option>
                  <option value="TEACHER" th:selected="${#strings.equals(member.role, 'TEACHER')}">선생님</option>
                  <option value="STUDENT" th:selected="${#strings.equals(member.role, 'STUDENT')}">학생</option>
                </select>
                <button type="submit" class="inline_form_btn select_btn" >권한 변경 <i class="fas fa-pencil-alt"></i></button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
      <th:block th:replace="~{include/page :: pagination(pageLink=@{'/admin/admin_member'})}"></th:block>
    </div>
<!--    <div class="layout_add">-->
<!--      <div > <i class="far fa-plus-square"></i> 매니저 추가하기</div>-->
<!--    </div>-->

  </div>
<!--    -->
<!--    <div class="hide_layout">-->
<!--      <div class="layout_box">-->
<!--        <i class="fas fa-times-circle layout_close"></i>-->
<!--        <form th:action="@{/joinPro}" onsubmit="return joinCheck(this)">-->
<!--          <div class="login_box">-->
<!--            <div class="form-login">-->
<!--              <label>아이디<em>*</em></label>-->
<!--              <div class="flex_between">-->
<!--                <input type="text" name="id" id="id" class="join_input" placeholder="아이디를 입력해주세요." required />-->
<!--                <button type="button" class="join_btn" onclick="idCheck()">아이디 중복 확인</button>-->
<!--                <input type="hidden" name="cno" value="1">-->
<!--              </div>-->
<!--              <input type="hidden" name="idCk" id="idCk" value="no">-->
<!--              <p id="msg" class="no_check">아이디 중복 체크를 하지 않으셨습니다.</p>-->
<!--            </div>-->
<!--            <div class="form-login">-->
<!--              <label>이름<em>*</em></label>-->
<!--              <input type="text" name="name" placeholder="한글로 공백없이 입력해주세요." maxlength="4" required/>-->
<!--            </div>-->
<!--            <div class="form-login">-->
<!--              <label>비밀번호<em>*</em></label>-->
<!--              <input type="password" name="pw" placeholder="비밀번호를 입력해주세요." maxlength="16" required />-->
<!--              <p class="info mb-0">비밀번호는 최소 8자리에서 최대 16자리 <br> 숫자, 영문, 특수문자 각 1개 이상 포함</p>-->
<!--            </div>-->
<!--            <div class="form-login">-->
<!--              <label>비밀번호 확인<em>*</em></label>-->
<!--              <input type="password" name="pw2" placeholder="비밀번호를 다시 입력해주세요." maxlength="16" required />-->
<!--            </div>-->
<!--          </div>-->
<!--          <input type="hidden" name="email" value="매니저"/>-->
<!--          <input type="hidden" name="birth" value="매니저"/>-->
<!--          <input type="hidden" name="gender" value="매니저"/>-->
<!--          <input type="hidden" name="phone" value="매니저"/>-->
<!--          <input type="hidden" name="addr1" value="매니저" />-->
<!--          <input type="hidden" name="postcode" value="매니저">-->

<!--          <button type="submit" class="button login_btn">매니저 회원가입</button>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
  </div>



  <script>
    let layout_add = document.querySelector('.layout_add')
    let hide_layout = document.querySelector('.hide_layout')
    let layout_close = document.querySelector('.layout_close')
    layout_add.addEventListener('click', function (){
      hide_layout.style.right = "0";
    })
    layout_close.addEventListener('click', function () {
      hide_layout.style.right = "-600px";
    })
  </script>
  <script>
    function idCheck() {
      if ($("#id").val() == "") {
        alert("아이디를 입력하지 않았습니다.");
        $("#id").focus();
        return false;
      }

      var params = {"id": $("#id").val()};
      $.ajax({
        url: "/idCheckPro",	//아이디가 전송되어질 곳
        type:"post",
        data:JSON.stringify(params),
        dataType:"json",
        contentType:"application/json",
        success : function(result) {
          var idPass = result;
          if(idPass == false){
            $("#idCk").val("no");
            $("#msg").addClass("no_check").html("사용할 수 없는 아이디입니다. 다시 입력하시기 바랍니다.").css("color", "red");
            $("#id").focus();
          } else if(idPass == true){
            $("#idCk").val("yes");
            if($("#msg").hasClass("no_check")) {
              $("#msg").removeClass("no_check");
            }
            $("#msg").html("사용 가능한 아이디입니다.").css("color", "blue");
          } else if(idPass==""){
            $("#msg").addClass("no_check").text("아이디가 확인되지 않았습니다. 다시 시도하시기 바랍니다.").css("color", "red");
          }
        }
      });
    }

    function joinCheck(f){
      if(f.pw.value!=f.pw2.value){
        alert("비밀번호와 비밀번호 확인이 서로 다릅니다.");
        f.pw.focus();
        return false;
      }

      if(f.pw.value.length(8-16)){
        alert("비밀번호는 최소 8자리에서 최대 16자리까지 숫자, 영문, 특수문자 각 1개 이상 포함해주세요.");
        f.pw.focus();
        return false;
      }

      if(f.idCk.value!="yes"){
        alert("아이디 중복 체크를 하지 않으셨습니다.");
        $("#id").focus();
        return false;
      }

      let value = $("#pw").val();

      let pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&.,])[A-Za-z\d$@$!%*#?&]{8,16}$"
      if (!pattern.test(value)) {
        alert("숫자, 영문, 특수문자 각 1개 이상 포함입니다.");
        $("#pw").focus();
        return false;
      }
    }

  </script>
</div>
