/*게시판의 헤더*/
.header_board {
    display: flex;
    align-items: baseline;
    flex-direction: row;
}
.user_index {
    background-color: var(--c-main_back);
    width: 100%;
}
.user_info {
    width: 25% ;
    padding: 30px;
    background-color: #fff;
    margin: 50px auto;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: fit-content;
    min-width: min-content;
}

.user_index section nav.menu {
    width: 100%;
}
.user_index section nav.menu::after {
    content: "";
    display: block;
    clear: both;
}
.user_index section nav.menu a {
    font-size: 20px;
    color: #666;
}
.user_index section nav.menu a:nth-of-type(1) {
    float: left;
}
.user_index section nav.menu a:nth-of-type(2) {
    float: right;
}

.user_index section article.profile {
    width: 100%;
    text-align: center;
}
.user_index section article.profile .profile_img {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}
.user_index section article.profile .profile_img i {
    font-size: 150px;
}
.user_index section article.profile h1 {
    font-weight: bold;
    font-size: 22px;
    line-height: 1;
    color: #555;
    margin-bottom: 5px;
}
.user_index section article.profile h2 {
    font-weight: normal;
    font-size: 13px;
    color: #939393;
    margin: 10px 0px 20px;
}
.user_index section a.btnView {
    display: block;
    width: 180px;
    height: 32px;
    margin: 0px auto 20px;
    border-radius: 16px;
    font-size: 13px;
    color: #fff;
    line-height: 35px;
    text-align: center;
}

.user_index section ul.contact li {
    width: 100%;
    padding: 10px 0px;
}
.user_index section ul.contact li:last-child {
    border-top: 1px solid #eee;
}
.user_index section ul.contact li i {
    width: 20%;
    text-align: center;
    color: #555;
    font-size: 15px;
    text-shadow: 2px 2px 2px #ddd;
}
.user_index section ul.contact li span {
    font-weight: normal;
    font-size: 13px;
    color: #555;
    letter-spacing: 1px;
}

.user_index section nav.others {
    width: 100%;
    text-align: center;
}
.user_index section nav.others a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0px 10px;
    opacity: 0.4;	/* 8단계 버튼 활성화하기 */
    filter: saturate(0.7); /* 8단계 버튼 활성화하기 */
}

/* index */

.user_index section article.profile img {
    box-shadow: 5px 15px 30px rgba(173, 216, 230, 0.8);
}
.user_index section a.btnView {
    background: linear-gradient(45deg, #53ecec, #38cfe5);
    box-shadow: 5px 10px 20px rgba(71, 236, 236, 0.49);
}

/* 메인 공지사항 */
.main_notice {
    width: 60%;
    padding: 50px 0;
    margin: 0 auto;
}
.main_notice h1 {
    font-size: 1.5em;
}
.main_notice h1 span {
    color: #b41010;
}
.main_table {
    margin: 30px 0;
}
.main_table thead tr:first-child {
    background-color: var(--c-main);
}
.main_table tbody tr:last-child th {
     border-width: 1px 0;
}
.main_table th {
    height: 40px;
}
.main_table .num {
    width: 7%;
}
.main_table .title {
    width: 50%;
}
.main_table .create_time {
    width: 28%;
}
.main_table .writer {
    width: 15%;
}
.board_pin {
    width: fit-content;
    margin: 0px auto;
    background-color: #b41010;
    padding: 3px 6px 0px;
    color: #ffffff;
}
/* 공지사항 작성 */

/* 공지사항 read */
.board_container {
    width: 100%;
    height: calc(100vh - 67px);
}

.back_white {
    width: 70%;
}

.noti_read  {
    display: flex;
    justify-content: center;
}

.btn_myInfo.list {
    color: #fff;
}

.btn_myInfo.out {
    color: #fff;
    background-color: #b41010;
}

/* 공지사상 수정하기 */
.notice_seperate{
    background-color: #fff;
}

.notice_container{
    padding : 30px;

}
.notice_box{
    padding-bottom: 15px;
}

.notice_box input{
    height: 40px;
}
.file_box {
    display: flex;
    justify-content: start;
    padding-bottom: 20px;
}
.file_box .file_box_div {
    width: 80%;
}
.fileNotice {
    height: 54px;
    line-height: 17px;
}
.board_checkbox_container {
    display: flex;
    width: 20%;
}
.board_checkbox_container div {
    margin: 0 5px;
    width: 50%;
    display: flex;
    align-items: center;
}
.board_checkbox_container input:focus, input:active {
    border-color: #ffffff;
    box-shadow: none;
    outline: none;
}
.board_checkbox_container label{
    text-align: center;
    width: 120px;
}
.board_checkbox {
    height: 40px;
}
.notice_btn{
    margin: 20px auto;
}

.btnNotice {
    width: 100%;
}

.NlistBtn {
    float: right;
}

/* 에디터 */
.toastui-editor-md-preview, .toastui-editor-md-splitter {
    display: none !important;
}
.md-mode {
    width: 100% !important;
}