.user_title h2 {
    font-size: 30px;
}

.user_main {
    min-height: 100vh;
    width: 100%;
}

.user_title {
    width: 100%;
    margin: 0 auto;
    padding: 27px;
    text-align: center;
}

.user_tab{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
}
.user_tab2{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}




.file_input {
    display: flex;
    align-items: center;
    height: 86px;
    color: var(--c-font_gray);
}
.file_input input{
    width: 50%;
    border: none;
    box-shadow: none;
    cursor: pointer;

}
.file_input label {
    width: 20%;
    cursor: pointer;
}
.file_input input:hover{
    border: none;
}
.file_input input:focus{
    border: none;
    box-shadow: none;
}
.file_input input:active{
    border: none;
    box-shadow: none;
}

.user_tab2 .user_tab_title {
    text-align: center;
    width: 10%;
}
.user_group {
    background-color: white;
    width: 80%;
    margin: 0 auto;
}
.user_tab_title{
    width: 18%;
}

.user_tab_border{
    border-bottom: 3px solid #232323;
}


.user_img_box {
}

.user_img {
    display: block;
    margin : 0 auto;
}

.user_info_container {
    width: 40%;
}

.user_content {
    width: 100%;
    padding: 25px 0;
    margin: 0 auto;
    border-top: 1px solid #d1d1d1;
}

.user_content_seperate {
    display: flex;
    justify-content: space-around;
}

.nav.nav-tabs {
    display: flex;
    background-color: #ffffff;
    border-bottom: 1px solid #d1d1d1;
    padding-left: 20px;
}

.myinfo_line {
    display: flex;
}

.myinfo_line select {
    height: 40px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 10px 10px 10px;
}

.myinfo_line [type="radio"] {
    height: 16px;
    margin : 0px 10px 0px 10px;
}

.user_info_box label {
    line-height: 1.5;
    margin-top: 20px;
}

.user_info_box input {
    margin: 5px 0;
    font-size: 13px;
    color: var(--c-font_gray);
    height: 45px;
}
.user_info_box select {
    margin: 5px 10px 5px 0;
    font-size: 13px;
    color: var(--c-font_gray);
    height: 45px;
    width: 200px;
}
.user_info_box input[type='radio'] {
    height: 1rem;
    padding: 8px;
    margin-right: 7px;
}
.user_info_box.infopw input{
    width: 60%;
}

.email_a {
    line-height: 45px;
}

.ro_input {
    background-color: #e4e4e4;
}

.myinfo_btn_group {
    margin : 0 auto;
    width: fit-content;
    padding-top: 60px;
    padding-bottom: 40px;
}

.btn_pwChange {
    padding: 12px 13px;
    background-color: #99ccff;
    border: none;
    height: 40px;
    margin: auto 0;
    font-size: 13px;
}

.btn_myInfo {
    padding : 11px 30px;
    background-color : #99ccff;
    border : none;
}

.btn_myInfo_out {
    padding : 12px 30px;
    background-color: #b41010;
    color : #ffffff;
    border : none;
    font-size: 13px;
}

.pw_title {
    margin : 0 auto;
    width: fit-content;
    padding: 30px;
}

.pw_title h2 {
    text-align: center;
}

.pw_modify_box {
    width: inherit;
    margin: 0 auto;
}

.pw_box {
    display: flex;
    justify-content: space-evenly;
}

.pw_box input {
    width: 25%;
}

.user_info_box.pw {
    display: flex;
    justify-content: space-around;
}

.user_info_box.pw2 {
    display: flex;
    justify-content: space-around;
}

.user_info_box.pw label {
    padding-right: 20px;
}

.user_info_box.pw2 label {
    padding-right: 55px;
}

.user_info_box.pw input {
    width:70%;
}

.user_info_box.pw2 input {
    width:70%;
}

.postcodeBtn {
    width: 45%;
}

/* 회원 마이페이지 */

.admin_title h2 {
    font-size: 30px;
}

.admin_main {
    min-height: 100vh;
    width: 100%;
}

.admin_title {
    width: 80%;
    margin: 0 auto;
    padding :27px 30px;
    background-color: #ffffff;
}

.admin_tab{
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: 0 40px;
    border-bottom: 1px solid #d1d1d1;
}

.admin_tab_title{
    width: 40%;
}

.admin_tab_title a{
    border-bottom: 3px solid #232323;
}

.admin_tab_title span{
    border-bottom: 3px solid #232323;
}

.admin_img_box {
}

.admin_img {
    display: block;
    margin : 0 auto;
}

.admin_info_container {
    width: 30%;
}

.admin_content {
    background-color: #ffffff;
    width: 80%;
    padding: 25px 40px;
    margin : 0 auto;
}

.admin_content_seperate {
    display: flex;
    justify-content: space-around;
}

.nav.nav-tabs {
    display: flex;
    background-color: #ffffff;
    border-bottom: 1px solid #d1d1d1;
    padding-left: 20px;
}

.myinfo_line {
    display: flex;
}

.myinfo_line select {
    height: 40px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 10px 10px 10px;
}

.myinfo_line [type="radio"] {
    height: 16px;
    margin : 0 10px;
}

.admin_info_box label {
    line-height: 15px;
    padding-top: 20px;
}

.admin_info_box input {
    margin: 5px 0;
    font-size: 13px;
    color: var(--c-font_gray);
    height: 40px;
}

.admin_info_box.infopw input{
    width: 60%;
}

.email_a {
    line-height: 45px;
}

.ro_input {
    background-color: #e4e4e4;
}

.myinfo_btn_group {
    margin : 0 auto;
    width: fit-content;
    padding-top: 60px;
    padding-bottom: 40px;
}

.btn_pwChange {
    padding: 12px 13px;
    background-color: #99ccff;
    border: none;
    height: 40px;
    margin: auto 0;
    font-size: 13px;
}

.btn_myInfo {
    padding : 11px 30px;
    background-color : #99ccff;
    border : none;
}

.btn_myInfo_out {
    padding : 12px 30px;
    background-color: #b41010;
    color : #ffffff;
    border : none;
    font-size: 13px;
}

.pw_title {
    margin : 0 auto;
    width: fit-content;
    padding: 30px;
}

.pw_title h2 {
    text-align: center;
}

.pw_modify_box {
    width: inherit;
    margin: 0 auto;
}

.pw_box {
    display: flex;
    justify-content: space-evenly;
}

.pw_box input {
    width: 25%;
}

.admin_info_box.pw {
    display: flex;
    justify-content: space-around;
}

.admin_info_box.pw2 {
    display: flex;
    justify-content: space-around;
}

.admin_info_box.pw label {
    padding-right: 20px;
}

.admin_info_box.pw2 label {
    padding-right: 55px;
}

.admin_info_box.pw input {
    width:70%;
}

.admin_info_box.pw2 input {
    width:70%;
}


/* 검색 박스 */

.custom-select {
    width: 15%;
    margin: 5px;
    height: 40px;
    padding: 5px;
}

.admin-content.memlist {
    display: flex;
    justify-content: space-around;
}

#search-form {
    display: flex;
    justify-content: flex-end;
}

#search-form input{
    width: 20%;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
}

.btn.sb {
    padding: 10px 20px;
}

.flag_big {
    display: none;
}

.flag_full {
    display: none;
}

.flag_pm {
    display: none;
}

/* 페이징 버튼 */
.paging_btn {
    margin: 30px auto;
    width: fit-content;
}

.pageBtn {
    color: #868686;
    background-color: #ffffff;
    padding: 7px 7px;
    border-radius: 5px;
}

.pageBtn.active {
    color: #fff;
    background-color: #99ccff;
    padding: 7px 8px;
    border-radius: 5px;
}

.nextBtn {
    color: #868686;
    background-color: #ffffff;
    padding: 7px 2px;
    border-radius: 5px;
}

.notiSearchGroup {
    display: flex;
    padding: 10px 0;
    justify-content: flex-end;
}

.btn.notiSb {
    margin-left: 11px;
    height: 49px;
    margin-top: 0px;
    width: 35%;
}

.listEmptyBox {
    width: 100%;
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    border-radius: 0 0 10px 10px;
}
#search-form {
    position: relative;
}

.searchTotal {
    position : absolute;
    left : 1px;
    font-size: 18px;
    padding-right: 29px;
    padding-top: 25px;
}

.searchTotal strong {
    color : #b41010;
}

#keywordTitle {
    width: 45%;
}

.searchTotal2 {
    position: absolute;
    left: -147px;
    font-size: 18px;
    padding-right: 29px;
    padding-top: 25px;
    top: 12px;
}

.searchTotal2 strong {
    color : #b41010;
}

.custom-select-noti {
    margin-right: 10px;
}

.searchFormNotice {
    width: 70%;
    float: right;
    position: relative;
}