/* main */

.main {
    overflow: hidden;
}
.admin {
    display: flex;
}

.container {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
}

/* header var */

.navbar {
    z-index: 999;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--c-main);
}
.navbar_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-wrap {
    display: flex;
    align-items: center;
}

.nav-content {
    line-height: 1.5;
    padding: 1.25rem 1.5rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
}
.nav-content:hover {
    color: var(--c-white);
    font-weight: bold;
}

.nav_logo {
    width: 150px;

}

.nav_link {
    margin: 0 auto;
    text-align: center;
}

.border1 {
    box-shadow: 2px 2px 10px 1px var(--c-back_gray);
}

.box_shadow_in {
    box-shadow: inset -5px 0 1px var(--c-back_gray);
}

/* adminbar */

.adminBar {
    width: 75px;
    height: 100vh;
    background-color: var(--c-main);
}

.adminBar_box {
}

.adminBar_content li{
    padding: 1.25rem 0;
    display: flex;
    align-items: center;
}

.adminBar_content li:hover {
    color: var(--c-white);
    font-weight: bold;
}

/* admin Page */
.main_title {
    position: absolute;
    z-index: 999;
    top: 13px;
    left: 87px;
    font-size: 1.75em;
}
.admin-board {
    width: 100%;
    height: auto;

}

.admin-title {
    width: 100%;
    height: 120px;
    background-color: var(--c-back_black);
    display: flex;
    align-items: center;
    color: white;
    padding: 0 1rem;
}

.admin-title .fas {
    font-size: 4rem;
}

.admin-title div {
    margin: 0 1rem;
}


.admin-content {
    width: 100%;
    padding: 2rem 0;
}

.admin-content_box {
    width: 170px;
    font-size: 18px;
    padding-left: 0.75rem;
    border: 1px solid black;
    display: inline-block;
}

.admin-content_in {
    margin: 1rem 0 3rem;
}

.nav-dropdown {
    display: block;
    font-weight: bold;
}

.nav-dropdown_wrap {
    display: none;
    padding-left: 10px;
}

.nav-dropdown_wrap li {
    padding: 2px;
}

.nav-dropdown_wrap li:hover {
    color: var(--c-hover);
}
.nav-dropdown_arrow {
    display: inline-block;
    transition: 0.4s ease-in-out;
}
.nav-dropdown:hover {
    .nav-dropdown_wrap {
        display: block;
    }
    .nav-dropdown_arrow {
        transition: 0.4s ease-in-out;
        transform: rotateX(180deg);
    }
}

.course_box {
    margin: 0 auto;
    padding: 0 5rem 2rem;
    width: 90%;
}


/* gotop */
.gotop {
    display: none;
    z-index: 990;
    position: fixed;
    right: 25px;
    bottom: 210px;
    border-radius: 10px;
    padding: 10px 15px;
    border: 1px solid var(--c-sub);
    background-color: var(--c-white);
    color: var(--c-sub);
    transition: all 0.2s ease-in-out;
}


.gotop:hover {
    background-color: var(--c-sub);
    color: var(--c-white);
}



/* 로그인 */
.login_loca {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login_box {
    box-shadow: 0 0 14px -7px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 530px;
    border-radius: 15px;
    padding: 2em;
}
.login_box h1 {
    font-size: 260%;
}
.login_box form {
    width: 90%;
}

.login_box label {
    font-size: 1.25em;
    margin-bottom: 0.25em;
    font-weight: bold;
}

.form-login {
    margin: 2em 0;
}

.login_text {
    text-align: left;
    font-weight: bold;
    margin-top: 0.5em;
}

.login_btn {
    padding: 0.75em;
    font-weight: bold;
}