/* main */

.main {
    overflow: hidden;
    display: flex;
    background-color: var(--c-main_back);
}


.container {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
}

/* header var */

.navbar {
    z-index: 999;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--c-main);
}
.navbar_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-wrap {
    display: flex;
    align-items: center;
}

.nav-content {
    line-height: 1.5;
    padding: 1.25rem 3.25rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    color: black;
}

.nav-content:hover {
    color: var(--c-white);
    font-weight: bold;
}

.nav_logo {
    width: 150px;

}

.nav_link {
    margin: 0 auto;
    text-align: center;
}

/* header-nav 드롭다운 */

.header-dropdown_wrap {
    display: none;
    position: absolute;
    background-color: var(--c-white);
    right: 166px;
    top: 78px;
    border-radius: 5px;
    box-shadow: 0 4px 6px -3px gray;
    width: 300px;
}
.header-dropdown_in {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.header-dropdown_in > .nav-content {
    display: block;
    text-align: center;
    width: 50%;
    padding: 1.25rem 0;
}

.header-dropdown_in > .nav-content:hover {
    background-color: var(--c-back_lightgray);
    color: black;
}
.header-dropdown_in > .nav_link {
    display: flex;
    flex-direction: column;
}



/* user-header-nav 드롭다운 */

.user-dropdown_wrap {
    display: none;
    position: absolute;
    background-color: var(--c-white);
    right: 16px;
    top: 78px;
    border-radius: 5px;
    box-shadow: 0 4px 6px -3px gray;
}

.user-dropdown_wrap > .nav-content {
    padding: 12px;
    display: block;
    text-align: right;
}

.user-dropdown_wrap > .nav-content:hover {
    background-color: var(--c-back_lightgray);
    color: black;
}




.border1 {
    box-shadow: 2px 2px 10px 1px var(--c-back_gray);
}

.box_shadow_in {
    box-shadow: inset -5px 0 1px var(--c-back_gray);
}

/* adminbar */

.adminBar {
    position: sticky;
    top: 0;
    left: 0;
    width: 150px;
    background-color: var(--c-main);
    padding-top: 78px;
}

.adminBar_box {

}

.adminBar_content li{
    padding: 1.5rem 1.25rem;
    font-size: 20px;
}

.adminBar_content li:hover {
    color: var(--c-white);
    font-weight: bold;
}

.adminBar_content .nav_link {
    display: flex;
    align-items: baseline;
}

.adminBar_content i {
    margin-right: 10px;
}
.adminBar_content .fas {
    width: 25px;
}

.home_header {
    padding: 1.5rem 1.25rem;
    font-size: 20px;
}



/* admin Page */
.main_title {
    position: fixed;
    z-index: 999;
    top: 20px;
    left: 150px;
    font-size: 1.75rem;
}
.admin-board {
    width: 100%;
    min-width: 1750px;
    padding-top: 78px;
    overflow: hidden;

}
.admin-board h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.admin-title {
    width: 100%;
    height: 120px;
    background-color: var(--c-back_black);
    display: flex;
    align-items: center;
    color: white;
    padding: 0 1rem;
}

.admin_title span {
    font-size: 75%;
}
.admin-title .fas {
    font-size: 4rem;
}

.admin-title div {
    margin: 0 1rem;
}


.admin-content {
    width: 100%;
    min-height: 100vh;
    padding: 2rem 0;
    overflow-x: hidden;
}

.admin-content_box {
    width: 170px;
    font-size: 18px;
    padding-left: 0.75rem;
    border: none;
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    margin-right: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
}

.admin-content_in {
    margin: 1rem 0 3rem;
}
.table_group {
    width: 100%;
}
.nav-dropdown {
    display: block;
    font-weight: 100;
    /*font-weight: bold;   -- 너무 굴게 나와서 바꿀게요!*/
}

.nav-dropdown_wrap {
    display: none;
    padding-left: 16px;
}

.nav-dropdown_wrap li {
    padding: 2px;
}

.nav-dropdown_wrap li:hover {
    color: var(--c-hover);
}
.nav-dropdown_arrow {
    display: inline-block;
    transition: 0.4s ease-in-out;
}
.nav-dropdown:hover {
    .nav-dropdown_wrap {
        display: block;
    }
    .nav-dropdown_arrow {
        transition: 0.4s ease-in-out;
        transform: rotateX(180deg);
    }
}

.admin_box {
    margin: 0 auto;
    width: 90%;
}

.course_add {
    font-size: 1.5rem;
    height: 80px;
}
.course_add i {
    font-size: 110%;
}
.course_add:hover {
    cursor: pointer;
    background-color: var(--c-main_back);
}
.course_input {
    display: none;
    text-align: center;
}

.course_input input, select {
    text-align: center;
}
.course_cal {
    display: flex;
    align-items: center;
    justify-content: center;
}
.course_cal > input {
    margin: 0 3px;
    width: 50%;
}


/* gotop */
.gotop {
    display: none;
    z-index: 990;
    position: fixed;
    right: 25px;
    bottom: 210px;
    border-radius: 10px;
    padding: 10px 15px;
    border: 1px solid var(--c-sub);
    background-color: var(--c-white);
    color: var(--c-sub);
    transition: all 0.2s ease-in-out;
}


.gotop:hover {
    background-color: var(--c-sub);
    color: var(--c-white);
}



/* 로그인 */
.main_login {
    background-color: #F6F9FC;
    width: 100vw;
    min-height: 100vh;
    overflow-y: scroll;
}

.login_loca {
    margin: 10% auto 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_box {
    background-color: var(--c-white);
    box-shadow: 0 0 14px -7px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 530px;
    border-radius: 15px;
    padding: 2em;
}
.login_box h1 {
    font-size: 260%;
}
.login_box form {
    width: 90%;
}
.login_box input {
    margin-top: 5px;
}

.login_box label {
    font-size: 110%;
    font-weight: bold;
}
.login_box p {
    font-size: 90%;
    margin: 10px 5px;
}
.login_box a:hover {
    color: var(--c-hover);
}
.form-login {
    margin: 2em 0;
}
.form-login em {
    color: var(--c-sub2);
    font-size: 90%;
    font-weight: 100;
}
.login_text {
    text-align: left;
    font-weight: bold;
    margin-top: 0.5em;
}

.login_btn {
    padding: 0.75rem;
    font-weight: bold;
}

.join_loca {
    margin: 5rem auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join_input {
    width: 65%;
}
.join_btn {
    background-color: white;
    border-radius: 5px;
    font-size: 90%;
    border: 1px solid;
    line-height: 1.25;
    margin-top: 5px;
}

.join_gender {
    display: flex;
    margin: 10px 5px;
    align-items: center;
}


.join_gender input {
    margin-right: 5px;
}
.join_gender label {
    margin-right: 30px;
}

.join_email {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.join_email input {
    width: 130px;
}
.join_email select {
    margin: 5px 5px 0;
}
.join_email p {
    margin: 10px 5px 0;
    font-size: 130%;
}
.join_tel {
    display: flex;
    align-items: center;
}

.join_tel input {
    width: 50%;
}
#birth2{
    margin-top: 5px;
    width: 80px;

}
.join_tel p {
    margin: 10px 10px 0;
    font-size: 150%;
}



.inline_form {
}
.inline_form select {
    height: auto;
    width: 50%;
    margin-right: 10px;
}

.change_input {
    text-align: center;
    border: none;
    box-shadow: none;
}

.change_input:hover {
    border: none;
}
.change_input:focus {
    box-shadow: none;
}

/* mypage2 */

.job_input{
    height: 1rem;
}
.job_box {
    display: flex;
    align-items: flex-end;
}
.job_box label{
    display: flex;
    align-items: center;
    margin: 0 1rem;
}

.job_box input{
    margin: 0 1rem;
}

/* hide_layout */

.hide_layout {
    position: absolute;
    top: 78px;
    right: -600px;
    background-color: white;
    width: 600px;
    min-height: 100vh;
    transition: all 0.5s ease-in-out;
}

.layout_box {
    width: 100%;
    padding: 2rem 0;
    box-shadow: 0 0 14px -7px black;
}

.layout_add {
    font-size: 1.5rem;
    height: 80px;
}
.layout_add i {
    font-size: 110%;
}
.layout_add:hover {
    cursor: pointer;
    background-color: var(--c-main_back);
}
.layout_close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 2.5rem;
}

.layout_close:hover {
    cursor: pointer;
    color: var(--c-back_gray);
}


.layout_login {
    background-color: var(--c-white);
    box-shadow: 0 0 14px -7px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 530px;
    border-radius: 15px;
    padding: 2em;
}
.login_box h1 {
    font-size: 260%;
}
.login_box form {
    width: 90%;
}
.login_box input {
    margin-top: 5px;
}

.login_box label {
    font-size: 110%;
    font-weight: bold;
}
.login_box p {
    font-size: 90%;
    margin: 10px 5px;
}
.login_box a:hover {
    color: var(--c-hover);
}
.form-login {
    margin: 2em 0;
}
.form-login em {
    color: var(--c-sub2);
    font-size: 90%;
    font-weight: 100;
}