<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta
            content="minimum-scale=1.0, width=device-width, maximum-scale=1, ser-scalable=no"
            name="viewport"
    />
    <title>천재IT교육센터</title>
    <th:block th:replace="~{include/head :: head}"></th:block>
    <style>
      tr, th, td {
        border: 1px solid black;
        height: 30px;
        width: 200px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="main" >
      <h2>Main Start</h2>

      <a th:href="@{/course}">강의추가</a>
      <a th:href="@{/join}">작동 회원가입</a>
      <a th:href="@{/memJoin}">회원가입</a>
      <a th:href="@{/login}">로그인</a>
      <a th:href="@{/board}">게시판</a>

    </div>
  </body>
</html>
