<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{include/head :: head}"></th:block>
    <title>회원가입</title>
</head>
<body>
    <div class="main">
        <section class="container">
            <div class="login_loca">
                <div class="login_box">
                    <h1>천재IT교육센터</h1>
                    <form th:action="@{/joinPro}" method="post">
                        <div class="form-login">
                            <label>이메일</label>
                            <input type="text" name="email" required />
                        </div>
                        <div class="form-login">
                            <label>비밀번호</label>
                            <input type="password" name="pw" required />
                        </div>
                        <div class="form-login">
                            <label>이름</label>
                            <input type="text" name="name" />
                        </div>
                        <div class="form-login">
                            <label><input type="radio" name="gender" value="남자"/>남자</label>
                            <label><input type="radio" name="gender" value="여자"/>여자</label>
                        </div>
                        <div class="form-login">
                            <label>생일</label>
                            <input type="date" name="birth" />
                        </div>
                        <div class="form-login">
                            <label>연락처</label>
                            <input type="tel" name="phone" />
                        </div>
                        <div class="form-login">
                            <label>주소</label>
                            <input type="text" name="address" />
                        </div>
                        <select name="cno" >
                            <th:block th:each="course: ${courseDTOList}">
                                <option th:value="${course.getNo()}" th:text="${course.subject} + ' '+ ${course.flag} +'기'"></option>
                            </th:block>
                        </select>
                        <button type="submit" class="button login_btn">회원가입</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
<!--<script th:inline="javascript">-->
<!--    $(document).ready(function(){-->
<!--        $(".login_loca").click(function(){-->
<!--            $(".login_box label").css("transform", "translateY(-50px)");-->
<!--            $(".login_box input").css({"visibility": "visible", "transition-delay": "0.3s", "transition-duration": "1s"});-->
<!--        })-->
<!--    })-->
<!--</script>-->