<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{include/layout}">

<div layout:fragment="content">
    <div class="admin-content">
      <div class="admin_box flex_center">
        <div class="board_in">
        <h2>클래스 게시판</h2>
        <div class="board_detail">
          <div>
          <table>
            <tbody>
              <tr>
                <th scope="row">제목</th>
                <td colspan="6" th:text="${boardDTO.title}"></td>
              </tr>
              <tr>
                <th scope="row">작성자</th>
                <td colspan="2" th:text="${boardDTO.writer}"></td>
                <th scope="row">작성일</th>
                <td colspan="2" th:text="${#temporals.format(boardDTO.createdTime, 'yyyy-MM-dd HH:mm')}"></td>
              </tr>
              <tr>
                <th scope="row">첨부파일</th>
                <td colspan="6" th:if="${files.isEmpty()}">
                  파일 없음
                </td>
                <td th:if="${files != null}" th:each="file : ${files}">
                  <a th:href="@{'/download/' + ${file.id}}">
                    <i class="fas fa-window-maximize"></i>[[${file.originFileName}]]
                  </a><br />
                </td>
              </tr>
              <tr>
                <th colspan="7" class="view_text">
                  <textarea title="내용" id="contents" name="contents" th:text="${boardDTO.content}" readonly></textarea>
                </th>
              </tr>
            </tbody>
          </table>
          </div>
          <th:block th:if="${#authorization.expression('hasAuthority(''ADMIN'')')} or ${memberDTO.id == boardDTO.writer}">
            <div class="btn_group_center">
              <a class="board_btn select_btn" th:href="@{/notice/class/list}">목록으로</a>
              <!--              <a class="board_btn cancel_btn" th:href="@{/notice/remove(id=${boardDTO.id})}">삭제하기</a>-->
              <a class="board_btn edit_btn" th:href="@{/notice/class/modify(id=${boardDTO.id})}">수정하기</a>
              <form th:action="@{/notice/remove(id=${boardDTO.id})}" method="post" class="deleteForm">
                <input type="hidden" name="deleteType" value="true">
                <button type="submit" class="board_btn cancel_btn" onclick="return confirmDelete();">삭제</button>
              </form>
            </div>
            <script>
              function confirmDelete() {
                return confirm("정말 삭제하시겠습니까?");
              }
            </script>
          </th:block>
          <th:block th:if="${memberDTO.id != boardDTO.writer } and not ${#authorization.expression('hasAuthority(''ADMIN'')')}">
            <div class="btn_group_center">
              <a class="board_btn select_btn" th:href="@{/notice/class/list}">목록으로</a>
            </div>
          </th:block>
        </div>
        </div>
      </div>
      </div>
    <script th:inline="javascript">
      const errors = [[${errors}]]
      console.log(errors)
      let errorMsg = ''
      if(errors){
        for (let i = 0; i < errors.length; i++) {
          errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
        }
        alert(errorMsg)
      }

    </script>
    </div>
