<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{include/layout}">

<div layout:fragment="content">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <div class="admin-content">
      <form th:action="@{/notice/class/registerAdmin}" method="post"  enctype="multipart/form-data">
      <div class="admin_box flex_center">
        <div class="board_in">
        <h2>클래스 게시판 작성</h2>
              <div class="notice_container" >
                <div class="notice_box">
                  <label for="titleNotice">제목</label>
                  <input type="text" class="form-control" name="title" id="titleNotice" required/>
                </div>
                <div class="flex register-admin">
                  <div class="notice_box">
                    <label for="writerNotice">작성자</label>
                    <input type="text" class="ro_input writer" id="writerNotice" name="writer" th:value="${memberDTO.id}" readonly>
                    <input type="hidden" name="boardType" value="CLASS_BOARD" required/>
                  </div>
                  <div class="notice_box class-select">
                    <label for="cno" class="cno-label">강의</label>
                    <select name="cno" class="class-select" id="cno">
                      <th:block th:each="course_big : ${course_big_List}">
                        <option th:value="${course_big.getNo()}" th:text="'프로젝트 기반 빅데이터 서비스 개발자 양성'+' '+ ${course_big.flag} + '기'"></option>
                      </th:block>
                      <th:block th:each="course_full : ${course_full_List}">
                        <option th:value="${course_full.getNo()}" th:text="'에듀테크 풀스택 개발자 양성(Java)'+' '+ ${course_full.flag} + '기'"></option>
                      </th:block>
                      <th:block th:each="course_pm : ${course_pm_List}">
                        <option th:value="${course_pm.getNo()}" th:text="'에듀테크 상품서비스 PM(프로덕트매니저) 양성'+' '+ ${course_pm.flag} + '기'"></option>
                      </th:block>
                    </select>
                  </div>
                  <div class="board_checkbox_container none-margin">
                    <div>
                      <label for="pinnedBoard">상단 고정</label>
                      <input type="checkbox" id="pinnedBoard" class="board_checkbox" name="pinned">
                    </div>
                    <div>
                      <label for="privateBoard">비밀글</label>
                      <input type="checkbox" id="privateBoard" class="board_checkbox" name="privated">
                    </div>
                  </div>
                </div>
                <div class="search-form">
                  <label for="writerNotice"> 파일 업로드</label>
                  <div>
                    <button type="button" class="add_btn2" id="addInput"> 파일 추가하기 </button>
                    <button type="button" class="add_btn" id="deleteInput"> 파일 삭제하기 </button>
                  </div>
                </div>
                <div class="file_insert_box">
                  <div><input type="file" class="form-control" name="files" id="fileNotice"><label for="fileNotice" class="uploadbtn">upload</label></div>
                </div>
                <script th:inline="javascript">

                  document.getElementById('addInput').addEventListener('click', function() {
                    var fileInsertBox = document.querySelector('.file_insert_box');
                    var fileInputs = fileInsertBox.querySelectorAll('input[type="file"]');
                    if (fileInputs.length < 5) {
                      var newInputDiv = document.createElement('div');
                      var index = fileInputs.length + 1;
                      newInputDiv.innerHTML = '<input type="file" class="form-control" name="files" id="fileNotice' + index + '"><label for="fileNotice' + index + '" class="uploadbtn">upload</label>';
                      fileInsertBox.appendChild(newInputDiv);
                    } else {
                      alert('더 이상 파일을 추가할 수 없습니다.');
                    }
                  });

                  document.getElementById('deleteInput').addEventListener('click', function() {
                    var fileInsertBox = document.querySelector('.file_insert_box');
                    var fileInputs = fileInsertBox.querySelectorAll('input[type="file"]');
                    if (fileInputs.length > 1) {
                      fileInsertBox.removeChild(fileInputs[fileInputs.length - 1].parentNode);
                    } else {
                      alert('더 이상 파일을 삭제할 수 없습니다.');
                    }
                  });
                </script>
                <div id="editor">
                  <textarea class="input"  style="width: 1320px; height: 500px;" id="myTextarea" type="text" name="content" required ></textarea>
                </div>
                <div class="btn_group_center">
                  <a th:href="@{/notice/class/list}" class="board_btn cancel_btn">목록으로</a>
                  <button type="submit" class="board_btn select_btn">등록하기</button>
                </div>
              </div>

          </div>
          </div>
        </form>
      </div>


  <script th:inline="javascript">
    const Editor = toastui.Editor;
    const textarea = document.querySelector('#myTextarea');

    // 숨겨진 textarea 대신에 에디터를 생성할 div 요소를 만듭니다.
    const editorDiv = document.createElement('div');
    editorDiv.id = 'editor';
    textarea.parentNode.insertBefore(editorDiv, textarea);
    textarea.style.display = 'none';  // 숨겨진 textarea

    const editor = new Editor({
      el: editorDiv,
      height: '500px',
      initialEditType: 'markdown',
      previewStyle: 'vertical',
      initialValue: textarea.value  // 초기값을 textarea의 값으로 설정
    });

    // 에디터의 내용이 변경될 때마다 textarea에 값을 업데이트합니다.
    editor.on('change', () => {
      textarea.value = editor.getMarkdown();
    });
  </script>
  </div>
