<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{include/layout}">

<div layout:fragment="content">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
        <div class="admin-content">
            <div class="admin_box flex_center">
                <div class="board_in">
                <h2>공지사항 수정</h2>
                <form th:action="@{/notice/modify/{id}(id=${boardDTO.id})}" method="post" enctype="multipart/form-data">
                        <div class="notice_container" >
                            <div class="notice_box">
                                <label for="titleNotice">제목</label>
                                <input type="text" class="form-control" id="titleNotice" th:field="*{boardDTO.title}">
                            </div>
                            <div class="flex">
                                <div class="notice_box">
                                    <label for="writerNotice">작성자</label>
                                    <input type="text" class="ro_input writer" id="writerNotice" th:value="${boardDTO.writer}" readonly>
                                </div>
                                <div class="board_checkbox_container">
                                    <div>
                                        <label for="pinnedNotice">상단 고정</label>
                                        <input type="checkbox" id="pinnedNotice" class="board_checkbox" name="pinned" th:checked="${boardDTO.pinned}">
                                    </div>
                                    <div>
                                        <label for="privateBoard">비밀글</label>
                                        <input type="checkbox" id="privateBoard" class="board_checkbox" name="privated" th:checked="${boardDTO.privated}">
                                    </div>
                                </div>
                            </div>
                            <div class="file_box">
                                <div class="file_input">
                                    <label for="fileNotice"><i class="fas fa-file"></i> 첨부파일</label>
                                    <th:block th:if="${fileList.originFileName == ''}">
                                        <input type="file" class="form-control" name="file" id="fileNotice" onchange="uploadImage()">
                                    </th:block>
                                    <th:block th:if="${fileList.originFileName != '' }">
                                        <input type="text" class="form-control" name="file" th:value="${fileList.originFileName}" readonly>
                                    </th:block>
                                </div>
                            </div>


                            <div id="editor">
                                <textarea class="input"  style="width: 1320px; height: 500px;" id="myTextarea" type="text" th:utext="${boardDTO.content}" required th:name="content" placeholder="내용"></textarea>
                            </div>


                            <div class="btn_group_center">
                                <a th:href="@{/notice/list}" class="board_btn cancel_btn">목록으로</a>
                                <button type="submit" class="board_btn select_btn">수정하기</button>
                            </div>
                        </div>
                </form>
            </div>
            </div>
        </div>
    <script th:inline="javascript">
        const Editor = toastui.Editor;
        const textarea = document.querySelector('#myTextarea');

        const editorDiv = document.createElement('div');
        editorDiv.id = 'editor';
        textarea.parentNode.insertBefore(editorDiv, textarea);
        textarea.style.display = 'none';  // 숨겨진 textarea

        const editor = new Editor({
            el: editorDiv,
            height: '500px',
            initialEditType: 'markdown',
            previewStyle: 'vertical',
            initialValue: textarea.value  // 초기값을 textarea의 값으로 설정
        });

        editor.on('change', () => {
            textarea.value = editor.getMarkdown();
        });
    </script>
    </div>
