
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{include/layout}">

<div layout:fragment="content">
    <div class="admin-content">
        <div class="admin_box ">
            <h2>공지사항 리스트</h2>
            <table class="table_set"  >
                <div th:replace="~{include/search :: searchNoti('/notice/list')}"></div>
                <thead>
                <tr>
                    <th style="width: 10%">no</th>
                    <th style="width: 50%; overflow: hidden;">제목</th>
                    <th style="width: 10%">작성자</th>
                    <th style="width: 20%">작성일</th>
                    <th style="width: 10%">파일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${!boardList.isEmpty()}" th:each="notice, about :${boardList}">
                    <!-- pinned가 1이면 필독 아니면 그냥 숫자 -->
                    <td th:if="${notice.pinned == true}" ><p class="board_pin">필독</p></td>
                    <td th:if="${notice.pinned != true}" th:text="${about.count - pinnedCount}"></td>

                    <!-- privated가 1이면 비밀글 아니면 공개글-->
                    <td th:if="${notice.privated == true}">
                        <th:block th:if="${#authorization.expression('hasAuthority(''ADMIN'')')} or ${#authorization.expression('hasAuthority(''MANAGER'')')} or ${memberDTO.id == notice.writer}">
                            <a th:href="|@{/notice/read(id=${notice.id})}|" class="text-decoration-none"><i class="fas fa-lock">   </i>  [[${notice.title}]]</a>
                        </th:block>
                        <th:block th:if="${ not #authorization.expression('hasAuthority(''ADMIN'')')} and ${ not #authorization.expression('hasAuthority(''MANAGER'')')} and ${memberDTO.id != notice.writer}">
                            <i class="fas fa-lock">   </i>  비밀글입니다
                        </th:block>
                    </td>
                    <td th:if="${notice.privated != true}"><a th:href="|@{/notice/read(id=${notice.id})}|" class="text-decoration-none">[[${notice.title}]]</a></td>

                    <td th:text="${notice.writer}"></td>
                    <td th:text="${#temporals.format(notice.createdTime, 'yyyy-MM-dd HH:mm')}"></td>
                    <td class="fileDownload" th:if="${fileCountMap[notice.id] gt 0}">
                        <i class="fas fa-window-maximize" onclick="downloadFiles(this)" ></i>[[${fileCountMap[notice.id]}]]
                        <input type="hidden" name="boardId" th:value="${notice.id}" >
                    </td>
                    <script th:inline="javascript">
                        function downloadFiles(element) {
                            var fileDownload = element.parentNode;
                            var boardIdValue = fileDownload.querySelector('input[name="boardId"]').value;

                            console.log(boardIdValue);

                            let data = JSON.stringify({"boardId": boardIdValue});
                            $.ajax({
                                url: "/notice/fileList",
                                type: "post",
                                contentType: "application/json",
                                dataType: "json",
                                data: data,
                                success: function(result) {
                                    console.log("HI:"+result);
                                    handleFileList(result);
                                },
                                error: function(res) {
                                    alert(" 잠시 후 다시 시도해주세요.");
                                    console.log(res.responseText);
                                }
                            })
                        }

                        function handleFileList(result) {

                            var iframe = $('<iframe>', { style: 'display: none' })[0];
                            $('body').append(iframe);

                            result.forEach(function(fileId, index) {
                                setTimeout(function() {
                                    var downloadUrl = '/download/' + fileId;
                                    console.log("다운주소"+downloadUrl);

                                    var iframeDocument = iframe.contentDocument || iframe.contentWindow.document;
                                    var downloadLink = iframeDocument.createElement('a');
                                    downloadLink.href = downloadUrl;
                                    iframeDocument.body.appendChild(downloadLink);
                                    downloadLink.click();

                                    if (index === result.length) {
                                        $(iframe).remove();
                                    }
                                }, 100 * index);
                            });
                        }
                    </script>
                </tr>
                </tbody>
            </table>
            <th:block th:if="${boardList == null or boardList.isEmpty()}">
                <div class="listEmptyBox">찾으시는 정보가 없습니다.</div>
                <script>
                    window.onload = function() {
                        var urlParams = new URLSearchParams(window.location.search);
                        var cnoValue = urlParams.get('cno');
                        var keywordValue = urlParams.get('keyword');

                        function setSelectedOption(selectId, optionValue) {
                            var selectElement = document.getElementById(selectId);
                            var options = selectElement.options;

                            for (var i = 0; i < options.length; i++) {
                                if (options[i].value === optionValue) {
                                    options[i].setAttribute('selected', 'selected');
                                    return;
                                }
                            }
                        }
                        if (cnoValue) {
                            setSelectedOption('cno', cnoValue);
                        }
                        if(keywordValue) {
                            document.getElementById('keywordTitle').setAttribute('value', keywordValue);
                        }
                    };
                </script>
            </th:block>
            <th:block th:if="${boardList != null and not boardList.isEmpty()}">
                <th:block th:replace="~{include/page :: paginationNoti(pageLink=@{'/notice/list'})}"></th:block>
            </th:block>

            <th:block sec:authorize="hasAuthority('ADMIN')">
                <div class="btn_group_right">
                    <a th:href="@{/notice/register}" class="board_btn select_btn">글쓰기</a>
                </div>
            </th:block>
        </div>
    </div>

</div>
