<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{include/layout}">

<div layout:fragment="content">
    <div class="admin-content">
      <div class="admin_box">
        <h2>공지사항 글쓰기</h2>
          <table class="board_detail">
            <tbody>
              <tr>
                <th scope="row">제목</th>
                <td colspan="6" th:text="${boardList.title}"></td>
              </tr>
              <tr>
                <th scope="row">작성자</th>
                <td th:text="${boardList.writer}"></td>
                <th scope="row">작성일</th>
                <td th:text="${#temporals.format(boardList.createdTime, 'yyyy-MM-dd HH:mm')}"></td>
                <th scope="row">첨부파일</th>
                <td th:if="${fileList.originFileName == ''}">
                  파일 없음
                </td>
                <td th:if="${fileList.originFileName != ''}">
                  <a th:href="@{'/download/' + ${boardList.fileId}}">
                    <i class="fas fa-window-maximize"></i>[[${fileList.originFileName}]]
                  </a>
                </td>
              </tr>
              <tr>
                <td colspan="7" class="view_text">
                  <textarea title="내용" id="contents" name="contents" th:text="${boardList.content}" readonly></textarea>
                </td>
              </tr>
            </tbody>
          </table>
          <th:block sec:authorize="hasAuthority('MANAGER') or hasAuthority('ADMIN')">
            <div class="myinfo_btn_group">
              <a class="btn_myInfo" th:href="@{/notice/list}">목록</a>
              <a class="btn_myInfo out" th:href="@{/notice/remove(id=${boardList.id})}">삭제</a>
              <a class="btn_myInfo" th:href="@{/notice/modify(id=${boardList.id})}">수정</a>
            </div>
          </th:block>
          <th:block sec:authorize="hasAuthority('STUDENT') or hasAuthority('TEACHER')">
            <div class="myinfo_btn_group">
              <a class="btn_myInfo" th:href="@{/member/index}">목록</a>
            </div>
          </th:block>


          <script th:inline="javascript">
            const errors = [[${errors}]]
            console.log(errors)
            let errorMsg = ''
            if(errors){
              for (let i = 0; i < errors.length; i++) {
                errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
              }
              alert(errorMsg)
            }

          </script>
        </div>
      </div>
    </div>
